{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">

        <div class="auth-title">
            <h1>Вхід</h1>
            <p>Увійдіть, щоб керувати бронюваннями</p>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="auth-form">
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">
                Увійти
            </button>
        </form>

        <p class="auth-bottom-text">
            Ще не маєте акаунта?
            <a href="{% url 'accounts:register' %}">
                Зареєструватися
            </a>
        </p>

    </div>
</div>

{% endblock %}